
header{
background-color: #183c63;
color: white;
text-align: center;
max-width: 800px;
margin: 0 auto;
}

main{
background-color: white;
color: #183c63;
display: flex;
}

img{
height: 800px;
width: 800px;
}

div P {
font-weight: bold;
}


